/* CSS Styles */

body {
    background-color: #f7f7f7;
    color: black;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.homebutton {
    font-family: Arial, sans-serif;
    background-color: #cff7e7;
    border: none;
    color: #a0a0a0;
    padding: 14px 28px;
    text-align: center;
    display: block;
    font-size: 16px;
    cursor: pointer;
    display: inline;
    border-radius: 10px
}

.button {
    font-family: Arial, sans-serif;
    background-color: #a0a0a0;
    border: none;
    color: #f7f7f7;
    padding: 14px 28px;
    text-align: center;
    display: block;
    font-size: 16px;
    /* text-decoration: none; */
    cursor: pointer;
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.softedges {
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-height: auto;

}